@media (min-width: 48rem) {
  .createAlbumBtn {
    width: 35% !important;
  }
}

.imageContainer {
  text-decoration: none;
}

.imageTitle {
  text-decoration: none;
  color: #212529;
}

.foodImg {
  height: 15rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.trashBtn,
.editBtn {
  cursor: pointer;
}

.createAlbumBtn {
  background-color: #fa5252;
  border: none;
  border-radius: 0.75rem;
  padding: 0.25rem 0;
  text-decoration: none;
  text-align: center;
  color: #212529;
  width: 75%;
}

.createAlbumBtn:hover {
  background-color: #f03e3e;
  color: #edf2ff;
  transition: all 0.2s;
}
